:root {
  --btn_oper_bg_color: rgb(85, 85, 255);
} 

@font-face {
  font-family: 'digit' ;
  src: url('fonts/digital-7.ttf');
}

body {
  background: linear-gradient(to top, #bcca9121, var(--btn_oper_bg_color));
}
span {
  font-family: 'digit';
}
.container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 10vh auto 0 auto;
  border: 5px solid;
  border-radius: 5px;
  padding:5px;
}
#display {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  height: 90px;
  text-align: right;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  font-family: verdana;
  margin:5px;
}
.btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  border-radius: 15px;
  margin: 2px;
  height: 70;
  width: 22%;
  flex-grow: 1;
}
.btn:hover {
  background-color: #323330;
  color: white;
}
.large {
 width: 47%;
}
.select-operation {
  border: 5px solid;
}
.opBtn {
  background-color: var(--btn_oper_bg_color);
}
.previous-operand{
  font-size: 35px;
}
.current-operand{
  font-size: 70px;
}
